@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  text-transform: capitalize;
}

::selection {
  color: #2091F9;
}

section {
  padding: 2rem 9%;
}

.active {
  background-color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem 9%;
  background: #5333a086;
}
@media (max-width: 1015px) {
  header {
    padding: 2.5rem;
  }
}
@media (max-width: 840px) {
  header {
    justify-content: space-between;
  }
}
header .burger-menu {
  color: #fff;
  font-size: 2rem;
  display: none;
}
header .burger-menu:hover {
  cursor: pointer;
  color: #2091F9;
}
@media (max-width: 840px) {
  header .burger-menu {
    display: initial;
  }
}
header .navbar-container {
  display: flex;
  justify-content: center;
}
header .navbar-container .navbar a {
  color: #fff;
  margin-right: 1.3rem;
  font-size: 1.3rem;
}
@media (max-width: 840px) {
  header .navbar-container .navbar a {
    display: none;
  }
}
@media (max-width: 1400px) {
  header .navbar-container .navbar a {
    font-size: 1.1rem;
  }
}
header .navbar-container .navbar a:hover {
  cursor: pointer;
  color: #2091F9;
}
@media (max-width: 840px) {
  header .social {
    flex: 1 2;
    justify-content: center;
  }
}
@media (max-width: 670px) {
  header .social {
    display: none;
  }
}
header .social .img-container .fa-brands {
  font-size: 1.7rem;
  color: #fff;
  margin-right: 1rem;
}
@media (max-width: 1015px) {
  header .social .img-container .fa-brands {
    margin-right: 0.5rem;
  }
}
header .logo {
  flex: 1;
}
@media (min-width: 840px) {
  header .logo {
    margin-left: 2rem;
  }
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
  min-height: 100vh;
}
.home .title {
  text-align: center;
}
.home .title h3 {
  color: #fff;
  font-size: 4.6rem;
  text-transform: none;
}
@media (max-width: 1400px) {
  .home .title h3 {
    font-size: 3.6rem;
  }
}
@media (max-width: 620px) {
  .home .title h3 {
    font-size: 2.7rem;
  }
}
.home .title p {
  font-size: 1.7rem;
  color: #dfdfdf;
  margin-top: 1.6rem;
  text-transform: none;
  font-weight: 300;
}
@media (max-width: 1400px) {
  .home .title p {
    font-size: 1.3rem;
  }
}
@media (max-width: 620px) {
  .home .title p {
    font-size: 1rem;
  }
}
.home .home-img img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.home .btn {
  background: #2091F9;
  padding: 1rem 4rem;
  color: #fff;
  border-radius: 3.3rem;
  margin-top: 3.7rem;
}
.home .btn:hover {
  background: #2090f986;
  border: 0.2rem solid #2091F9;
  color: #dbdbdb;
}

.feature {
  height: 300rem;
}
.feature .feature-container {
  text-align: center;
}
.feature .feature-container .title-box {
  margin-bottom: 5rem;
}
.feature .feature-container .title-box h3 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.feature .feature-container .title-box p {
  font-size: 1.7rem;
  font-weight: 300;
}
.feature .feature-container .feature-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.feature .feature-container .feature-cards .feature-box {
  max-width: 18rem;
  padding: 1rem;
}
.feature .feature-container .feature-cards .feature-box .feature-ico {
  margin-bottom: 1.2rem;
}
.feature .feature-container .feature-cards .feature-box .feature-title h2 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
.feature .feature-container .feature-cards .feature-box .feature-title p {
  font-size: 1rem;
  color: #929292;
}

/*# sourceMappingURL=style.css.map */
